*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
#fondoFlores {
  position: fixed;  /* se queda fijo como fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* lo manda al fondo */
}
#fondoFlores iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.libro{
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 1.0s;
}
.papel{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}
.frente,
.reves{
  background-color: #000000; /*color de la hoja*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0 ;
  transform-origin: left;
  transition: transform 1.0s;
}
.frente{
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid rgb(0, 0, 0)
}
.reves{
  z-index: 0;
}
.frente-contenido,
.reves-contenido{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reves-contenido{
  transform: rotateY(180deg);
}
.flipped .frente,
.flipped .reves{
  transform: rotateY(-180deg);
}

/*botones*/
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.8s;
}
button:focus{
  outline: none;
}
button:hover i {
  color: #636363;
}
i {
  font-size: 30px;
  color: gray;
}
/*orden de las hojas*/
#pagina1{
  z-index: 17;
}
#pagina2{
  z-index: 16;
}
#pagina3{
  z-index: 15;
}
#pagina4{
  z-index: 14;
}
#pagina5{
  z-index: 13;
}
#pagina6{
  z-index: 12;
}
#pagina7{
  z-index: 11;
}
#pagina8{
  z-index: 10;
}
#pagina9{
  z-index: 9;
}
#pagina10{
  z-index: 8;
}
#pagina11{
  z-index: 7;
}
#pagina12{
  z-index: 6;
}
#pagina13{
  z-index: 5;
}
#pagina14{
  z-index: 4;
}
#pagina15{
  z-index: 3;
}
#pagina16{
  z-index: 2;
}
#pagina17{
  z-index: 1;
}

/*animaciones*/
.fade-out {
    animation: fadeOut 0.9s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.98);
    }
}

.fade-in {
    animation: fadeIn 0.9s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.btn{
    background-color: blueviolet;
    color:#ffffff;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover{
    background-color: rebeccapurple;
}

#btn-volver{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    background-color: blueviolet;
    color:#ffffff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}
#btn-volver:hover{
    background-color: rebeccapurple;
}

/*imagenes*/

img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  object-fit: cover;
  left: 0px;
  top: 0px;
}